@import '@fontsource/fira-mono';
@import 'stuffing.css';

:root {
	/* --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-text: rgba(121, 95, 95, 0.7);
	font-family: var(--font-body);
	color: var(--color-text); */
	--color-1: #332A2A;
	--color-2: #E4B97F;
	--color-3: #9DAEB5;
	--color-4: #8F695C;
	--color-5: #6381AE;


}

* {
	box-sizing: border-box;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
}

/* article {
	font-size: 1rem;
} */

h1,
h2,
h3, h4 {
	font-family: "Merriweather", serif;
	margin: 0;
	padding: 0;
	/* color: #fffffe; */
	color: #00473e;
}

/* Declare text styles */
h1,
h2,
h3,
h4,
p, a, a:hover {
	/* Font minimum, preferred and maximum value */
	font-size: clamp(var(--min), var(--val), var(--max));
}

/* Font size variables */
h1 {
	--min: 4em;
	--val: 5em;
	--max: 6em;
	line-height: calc(1ex / 0.42);
	font-weight: bolder;
	letter-spacing: 0.04em;
}

h2 {
	--min: 3em;
	--val: 4em;
	--max: 5em;
	line-height: calc(1ex / 0.42);
}

h3 {
	--min: 2em;
	--val: 3em;
	--max: 4em;
	line-height: calc(1ex / 0.38);
}

h4 {
	--min: 1em;
	--val: 2em;
	--max: 3em;
	line-height: calc(1ex / 0.38);
}

p,
a, a:hover {
	--min: 1em;
	--val: 1.25em;
	--max: 1.5em;
	line-height: calc(1ex / 0.32);
	font-family: "Source Sans Pro", sans-serif;
	color: #475d5b;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.app {
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		'header header header header header header'
		'main-container main-container main-container main-container main-container main-container'
		'footer footer footer footer footer footer';
	/* background-color: HSL(195, 100%, 74%); */
	/* background-color: #004643; */
	background-color: #f2f7f5;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #f2f7f5;
	grid-area: header;
	min-height: 4em;
}

.header-icon {
	grid-area: header-icon;
}

.header-title {
	grid-area: header-title;
}

.header-menu {
	grid-area: header-menu;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	/* align-items: center; */
}

.header-menu > nav, ul {
	height: 100%;
}

.icon {
	position: relative;
	display: none;
}

.input-box {
	display: none;
	/* visibility: hidden; */
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/* justify-content: space-between; */
}

.header-link {
	display: flex;
	align-items: center;
	padding: 0 0.5em;
}

.header-link:hover {
	background-color: #faae2b;
}

.header-link a {
	text-decoration: none;
}

.main-container {
	grid-area: main-container;
}

.profile {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4em 0;
	background-color: #00473e;
	grid-area: profile;
}

.profile-img {
	grid-area: profile-img;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.profile-img img {
	width: 100%;
	max-width: 336px;
	max-height: 336px;
	border-radius: 50%;
	/* border: 0.5em solid darkgoldenrod; */
	/* border-style: dashed; */
}

.profile-data {
	grid-area: profile-data;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	text-align: start;
}

.profile-data * {
	color: #fffffe;
}

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.contact-list {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	align-items: center;
}

.contact-link {
	margin-right: 0.5em;
}

.profile-svg > svg {
	height: clamp(
		var(1em), 
		var(1.25em), 
		var(1.5em));
}

.projects {
	grid-area: projects;
	gap: 2em;
	/* padding: 5em; */
}

.projects h4 {
	text-align: center;
	padding: 1em;
}

.project-gallery {
	grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
	/* grid-auto-rows: 200px; */
	/* grid-auto-flow: dense; */
	gap: 2em;
	padding: 2em;
}

.card {
	height: 100%;
	position: inherit;
	background-color: #fffffe;
	padding: 1em;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	/* padding: 2.5rem; */
}

.card:hover {
	/* box-shadow: 0 10px 30px -10px #000; */
	/* translate: 0px -4px 0; */
	position: inherit;
	cursor: pointer;
}

.card-title {
	color: var(--card-headline);
}

.card-text {
	color: var(--card-paragraph);
}

.card-img-top {
	width: 100%;
	/* height: 50%; */
	object-fit: cover;
	border: none;
}

.btn.btn-primary {
	padding: 1.2em 2em;
	background-color: #faae2c;
	color: #00473e;
	border: none;
}

.btn.btn-primary:hover {
	background-color: #faae2c;
	color: #00473e;
	box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6);
}


.footer {
	grid-area: footer;
	/* background-color: var(--background-footer);
	color: var(--color-footer); */
	text-align: start;
}

.footer-wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.footer-copyright {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.footer-main {
	flex: 1;
	padding-right: 35%;
}

.footer-col {
	display: flex;
	width: 25%;
	flex-direction: column;
	justify-content: flex-start;
}

.footer-col a {
	text-decoration: none;
	/* font-weight: 700; */
	/* text-decoration: underline; */
	/* color: var(--color-footer); */
}

.footer-col a:hover {
	cursor: pointer;
	color: #faae2b;
	/* color: var(--link); */
}

@media only screen and (width <=43rem) {

	/* --- HEADER --- */

	.header {
		grid-template-columns: inherit;
		grid-template-areas:
			'header-icon header-title header-menu header-menu header-menu header-menu';
	}

	.header-menu {
		position: relative;
		z-index: 20000;
	}

	/* .menu-list {
		display: none;
	} */

	.icon {
		display: block;
		font-variation-settings: "TIME" 1;
		transition: font-variation-settings 0.4s ease;
		font-family: 'Anicons Regular', sans-serif;
		z-index: 1;
		font-size: 2em;
		cursor: pointer;
	}

	.icon:focus {
		/* position: fixed; */
		/* z-index: 40; */
		font-variation-settings: "TIME" 100;
		color: #fff;
	}

	input[type='checkbox']:checked+label>.icon {
		/* position: absolute;
		z-index: 40; */
		/* font-variation-settings: "TIME" 100;
		color: black; */
	}

	.menu-list {
		position: fixed;
		right: -25rem;
		top: 5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0;
		padding: 0;
		font-size: 125%;
		-webkit-overflow-scrolling: touch;
	}

	.menu-list::after {
    transition: opacity 0.6s ease-in-out;
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
}

	/* .menu-list::after {
		transition: opacity 0.6s ease-in-out;
		content: '';
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		opacity: 0;
		pointer-events: none;
		background-color: rgba(0, 0, 0, 0.6);
	} */

	.header-link {
		transition: transform 0.15s ease-in;
		transform: translate(0, 0);
		border-bottom: 2px solid #fff;
		padding: 0.2em 0;
		margin: 0 0 0.5em 0;
		background-color: unset;
	}

	.menu-list li:hover {
		background-color: unset;
	}

	.header-link:hover {
		border-color: #faae2b;
	}

	.header-link a {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		line-height: 0.85;
	}

	.icon:focus~.menu-list::after {
		opacity: 1;
		pointer-events: auto;
	}

	.icon:focus~.menu-list .header-link {
		transition-duration: 0.3s;
		transform: translate(-28.5rem, 0);
	}
	
	.header-link:nth-child(1) {
		transition-delay: 0.2s;
	}

	.header-link:nth-child(2) {
		transition-delay: 0.25s;
	}

	.header-link:nth-child(3) {
		transition-delay: 0.3s;
	}


	/* #navbar {}


	.burger {}
	 */

	/* --- MAIN --- */

	.main-container {
		grid-template-columns: inherit;
		grid-template-areas:
			'profile profile profile profile profile profile'
			'projects projects projects projects projects projects';
	}

	.profile {
		/* grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'profile-img profile-img profile-img profile-img profile-img profile-img'
			'profile-data profile-data profile-data profile-data profile-data profile-data'; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.profile-data {
		/* padding-bottom: 4em; */
	}

	/* .contacts {}

	.contact-list {}

	.contact-link {}

	.link {}

	.project-tile {} */

	/* --- FOOTER --- */

	.footer-wrap {
		flex-direction: column;
	}

}

@media only screen and (43rem <=width <=62rem) {
	.header {
		grid-template-columns: inherit;
		grid-template-areas:
			'header-icon header-title header-menu header-menu header-menu header-menu';
	}

	.main-container {
		grid-template-columns: inherit;
		grid-template-areas:
			'profile profile profile profile profile profile'
			'projects projects projects projects projects projects';
	}

	/* .profile {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'profile-data profile-data profile-data profile-img profile-img profile-img';
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
	} */

	.profile-data {
		padding-right: 0;
	}

	.footer {
		grid-template-columns: inherit;
	}
}

@media only screen and (62rem <=width) {
	.header {
		grid-template-columns: inherit;
		grid-template-areas:
			'header-icon header-title header-menu header-menu header-menu header-menu';
	}

	.main-container {
		grid-template-columns: inherit;
		grid-template-areas:
			'profile profile profile profile profile profile'
			'projects projects projects projects projects projects';
	}

	/* .profile {
		display: flex;
		flex-direction: row;
		justify-content: center;
		grid-template-columns: 4em 1fr 1fr 1fr 336px 4em;
		grid-template-areas:
			'. profile-data profile-data profile-data profile-img .';
	} */

	.profile-img {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.profile-data {
		padding-right: 0;
	}

	.footer {
		grid-template-columns: inherit;
	}

}