@import '@fontsource/fira-mono';
@import 'stuffing.css';

:root {
	--color-1: #00473e;
	--color-2: #475d5b;
	--color-3: #f2f7f5;
	--color-4: #faae2b;
	--color-5: #fffffe;
	--color-6: #fff;
	--color-7: rgba(0, 0, 0, 0.6);
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-family: "Merriweather", serif;
	margin: 0;
	padding: 0;
	color: var(--color-1);
}

/* Declare text styles */
h1,
h2,
h3,
h4,
p,
a,
a:hover {
	/* Font minimum, preferred and maximum value */
	font-size: clamp(var(--min), var(--val), var(--max));
}

/* Font size variables */
h1 {
	--min: 2rem;
	--val: 2.5rem;
	--max: 3rem;
	line-height: calc(1ex / 0.42);
	font-weight: bolder;
	letter-spacing: 0.04rem;
}

h2 {
	--min: 1.5rem;
	--val: 1.9rem;
	--max: 2.25rem;
	line-height: calc(1ex / 0.42);
}

h3 {
	--min: 1.2rem;
	--val: 1.46rem;
	--max: 1.75rem;
	line-height: calc(1ex / 0.38);
}

p,
a,
a:hover {
	--min: 1em;
	--val: 1.25em;
	--max: 1.5em;
	line-height: calc(1ex / 0.32);
	font-family: "Source Sans Pro", sans-serif;
	color: var(--color-2);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.app {
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		'header header header header header header'
		'main-container main-container main-container main-container main-container main-container'
		'footer footer footer footer footer footer';
	background-color: var(--color-3);
	min-width: 336px;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--color-3);
	grid-area: header;
	min-height: 4em;
}

.header-icon {
	grid-area: header-icon;
}

.header-title {
	grid-area: header-title;
}

.header-menu {
	grid-area: header-menu;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header-menu>nav,
ul {
	height: 100%;
}

.icon {
	position: relative;
	display: none;
}

.input-box {
	display: none;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.header-link {
	display: flex;
	align-items: center;
	padding: 0 0.5em;
}

.header-link:hover {
	background-color: var(--color-4);
}

.header-link a {
	text-decoration: none;
}

.main-container {
	grid-area: main-container;
}

.profile {
	height: 100vh;
	grid-template-columns: repeat(6, 1fr);
	background-color: var(--color-1);
	grid-area: profile;
}

.profile-img {
	grid-area: profile-img;
}

.profile-img img {
	width: 100%;
	min-width: 336px;
	max-height: 336px;
	border-radius: 50%;
}

.profile-data {
	grid-area: profile-data;
	text-align: start;
}

.profile-data * {
	color: var(--color-5);
}

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.contact-list {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contact-link {
	margin-right: 0.5em;
}

.profile-svg>svg {
	height: 1em;
}

.projects {
	grid-area: projects;
}

.projects h2 {
	text-align: center;
	padding: 1em;
}

.project-gallery {
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 100%;
	max-width: 1400px;
	gap: 1em;
}

.card {
	height: 100%;
	position: inherit;
	background-color: var(--color-5);
	padding: 1em;
	margin: 0 0.5em;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
}

.card-body {
	justify-content: flex-end;
}

.card:hover {
	position: inherit;
	cursor: pointer;
}

.card-title {
	color: var(--card-headline);
}

.card-text {
	color: var(--card-paragraph);
}

.card-img-top {
	width: 100%;
	object-fit: cover;
	border: none;
}

.btn.btn-primary {
	padding: 1.2em 2em;
	background-color: #faae2c;
	color: var(--color-1);
	border: none;
	font-size: 1em;
	font-family: "Source Sans Pro", sans-serif;
	line-height: normal;
}

.btn.btn-primary:hover {
	background-color: #faae2c;
	color: var(--color-1);
	line-height: normal;
	font-size: 1em;
}


.footer {
	grid-area: footer;
	text-align: start;
}

.footer-wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.footer-copyright {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.footer-main {
	flex: 1;
	padding-right: 35%;
}

.footer-col {
	display: flex;
	width: 25%;
	flex-direction: column;
	justify-content: flex-start;
}

.footer-col a {
	text-decoration: none;
}

.footer-col a:hover {
	cursor: pointer;
	color: var(--color-4);
}

@media only screen and (width <=43rem) {

	/* --- HEADER --- */

	.header {
		grid-template-columns: inherit;
		grid-template-areas:
			'header-icon header-title header-menu header-menu header-menu header-menu';
	}

	.header-menu {
		position: relative;
		z-index: 20000;
	}

	.icon {
		display: block;
		font-variation-settings: "TIME" 1;
		transition: font-variation-settings 0.4s ease;
		font-family: 'Anicons Regular', sans-serif;
		z-index: 1;
		font-size: 2em;
		cursor: pointer;
	}

	.icon:focus {
		font-variation-settings: "TIME" 100;
		color: var(--color-6);
	}

	.menu-list {
		position: fixed;
		right: -25rem;
		top: 5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0;
		padding: 0;
		font-size: 125%;
		-webkit-overflow-scrolling: touch;
	}

	.menu-list::after {
		transition: opacity 0.6s ease-in-out;
		content: '';
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		opacity: 0;
		pointer-events: none;
		background-color: var(--color-7);
	}

	.header-link {
		transition: transform 0.15s ease-in;
		transform: translate(0, 0);
		border-bottom: 2px solid var(--color-6);
		padding: 0.2em 0;
		margin: 0 0 0.5em 0;
		background-color: unset;
	}

	.menu-list li:hover {
		background-color: unset;
	}

	.header-link:hover {
		border-color: var(--color-4);
	}

	.header-link a {
		display: inline-block;
		text-decoration: none;
		color: var(--color-6);
		line-height: 0.85;
	}

	.icon:focus~.menu-list::after {
		opacity: 1;
		pointer-events: auto;
	}

	.icon:focus~.menu-list .header-link {
		transition-duration: 0.3s;
		transform: translate(-28.5rem, 0);
	}

	.header-link:nth-child(1) {
		transition-delay: 0.2s;
	}

	.header-link:nth-child(2) {
		transition-delay: 0.25s;
	}

	.header-link:nth-child(3) {
		transition-delay: 0.3s;
	}

	/* --- MAIN --- */

	.main-container {
		grid-template-columns: inherit;
		grid-template-areas:
			'profile profile profile profile profile profile'
			'projects projects projects projects projects projects';
	}

	.profile {
		grid-template-columns: 1fr 1fr 336px 1fr 1fr;
		grid-template-areas:
			'. . profile-img . .'
			'. . profile-data . .';
	}

	.profile-img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.profile-data {
		padding-left: 3em;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	/* --- FOOTER --- */

	.footer-wrap {
		flex-direction: column;
	}

}

@media only screen and (43rem <=width <=62rem) {
	.header {
		grid-template-columns: inherit;
		grid-template-areas:
			'header-icon header-title header-menu header-menu header-menu header-menu';
	}

	.main-container {
		grid-template-columns: inherit;
		grid-template-areas:
			'profile profile profile profile profile profile'
			'projects projects projects projects projects projects';
	}

	.profile {
		grid-template-columns: 1fr 336px repeat(4, 1fr);
		grid-template-areas:
		'. profile-img profile-data profile-data profile-data .';
	}

	.profile-img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.profile-data {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.footer {
		grid-template-columns: inherit;
	}
}

@media only screen and (62rem <=width) {
	.header {
		grid-template-columns: inherit;
		grid-template-areas:
			'header-icon header-title header-menu header-menu header-menu header-menu';
	}

	.main-container {
		grid-template-columns: inherit;
		grid-template-areas:
			'profile profile profile profile profile profile'
			'projects projects projects projects projects projects';
	}

	.profile {
		grid-template-columns: 2fr 336px repeat(2, 1fr) 2fr;
		grid-template-areas:
		'. profile-img profile-data profile-data profile-data .';
	}

	.profile-img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.profile-data {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.footer {
		grid-template-columns: inherit;
	}

}